.subtitle {
  display: block;
  margin-top: -2em;
  font-size: 1.2em;
  color: #666;
}
h1 {
  color: #000 !important;
}
h2 {
  color: #666 !important;
}
.md-grid {
  max-width: 90vw;   /* 90% of the viewport width */
  width: 100%;
}
.md-sidebar--primary {
  width: 15vw; 
}

/* Reduce width of the secondary sidebar (table of contents) */
.md-sidebar--secondary {
  width: 15vw; 
}